# Node modules 
node_modules/

# Sass generated map files
css/*.css.map

# Editor config folders
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Otros archivos temporales o de sistema 
*.log
